@use '../../../sass/variables/colors' as *;

.btn {
  background-color: $dark_mode_text;
  border: none;
  border-radius: 100px;
  padding: 0.6rem 2.4rem;
  transition: all 0.3s;
  font: {
    size: 1.6rem;
    weight: 700;
  }
  color: $dark_mode_background;
  &:hover {
    background-color: transparent;
    box-shadow: 0 0 0 2px $dark_mode_text;
    color: $dark_mode_text;
    cursor: pointer;
  }
}
