@use '../../../sass/variables/colors' as *;
@use '../../../sass/helpers/mixins' as *;

.btn {
  @include primary-btn;
  border-radius: 100px;
  text-align: center;
  font-size: 1.8rem;
  &:disabled {
    &:hover {
      color: $dark_mode_background;
      background-color: $dark_mode_text;
      cursor: not-allowed;
    }
  }
}

.closeBtn {
  @include circle(4.8rem);
  position: fixed;
  top: 3.6rem;
  left: 5%;
  z-index: 300;
  padding: 0;
  font-size: 2.2rem;
}

.paginationRightBtn,
.paginationLeftBtn {
  @include circle(4.8rem);
  padding: 0;
  position: absolute;
  bottom: 50%;
  translate: 0 50%;
  font-size: 2.4rem;
}

.paginationLeftBtn {
  left: -20%;
}

.paginationRightBtn {
  right: -20%;
}
