@use '../../assets/styles/variables/colors';
@use '../../assets/styles/helpers/mixins' as *;

.errorBox {
  border-radius: 8px;
  @include flex-column;
  justify-content: end;
  margin: 30vh 0;
}

.errorHeader {
  font-size: 2rem;
  margin: 1.6rem 0;
}

.errorText {
  font-size: 1.6rem;
}
