@use '../../assets/styles/helpers/mixins' as *;
@use '../../assets/styles/variables/colors';

.footer {
  background-color: colors.$primary;
  margin-top: 9.2rem;
  padding: 3.2rem 0;
  text-align: center;
}

.socialLinksList {
  @include flex-row;
  justify-content: center;
  gap: 2.4rem;
  margin: 2.4rem;
}

.socialLinkItem {
  cursor: pointer;
  svg {
    fill: colors.$text;
    transition: all 0.2s;
    &:hover {
      fill: #555;
    }
  }
}

.footerText {
  font-size: 1.6rem;
  color: #999;
}
