@use '../variables/colors' as *;

@mixin flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@mixin skizzi-btn {
  border: none;
  transition: all 0.3s;
  color: $dark_mode_background;
  background-color: $dark_mode_text;
  font: {
    family: 'Nunito', sans-serif;
    weight: 600;
  }
  &:hover {
    color: $dark_mode_text;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $dark_mode_text;
    cursor: pointer;
  }
}

@mixin circle($dimensions) {
  width: $dimensions;
  height: $dimensions;
  border-radius: 50%;
}
